<div class="container">
    <div class="row">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-event">Add Event</a>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Type of event</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 
            </th>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
</div>
