<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 p-4 m-5 border rounded shadow">
      <div class="text-center row p-3">
        <div class="col">
          <h1>Sign Up</h1>
        </div>
      </div>
      <form [formGroup]='userService.signUpForm' (ngSubmit)="onSubmit()">
        <div class="row p-2">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </span>
                </div>
                <input type="text" formControlName="firstname" id="firstname" class="form-control"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('firstname').errors && userService.signUpForm.get('firstname').touched,
                                   'is-valid':!userService.signUpForm.get('firstname').errors}" placeholder="Firstname">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon6">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </span>
                </div>
                <input type="text" formControlName="lastname" id="lastname" class="form-control"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('lastname').errors && userService.signUpForm.get('lastname').touched,
                                   'is-valid':!userService.signUpForm.get('lastname').errors}" placeholder="Lastname">
              </div>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
              </span>
                </div>
                <input type="text" class="form-control" placeholder="Email" formControlName="email"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('email').errors && userService.signUpForm.get('email').touched,
                                   'is-valid':!userService.signUpForm.get('email').errors}">
                <div class="invalid-feedback" *ngIf="(userService.signUpForm.get('email').hasError('pattern')) ||
                               (userService.signUpForm.get('email').hasError('minlength')) else elseBranch">
                  Invalid email.
                </div>
                <ng-template #elseBranch>
                  <div class="invalid-feedback" *ngIf="userService.signUpForm.get('email').getError('emailTaken')">
                    Email is taken.
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2"><b>@</b></span>
                </div>
                <input type="text" formControlName="username" id="username" class="form-control"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('username').errors && userService.signUpForm.get('username').touched,
                                   'is-valid':!userService.signUpForm.get('username').errors}" placeholder="Username">
                <div class="invalid-feedback" *ngIf="userService.signUpForm.get('username').hasError('minlength') else elseBranch">
                  Username must be at least 3 characters.
                </div>
                <ng-template #elseBranch>
                  <div class="invalid-feedback" *ngIf="userService.signUpForm.get('username').hasError('usernameTaken');">
                    Username taken.
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </span>
                </div>
                <input type="password" formControlName="password" id="password" class="form-control"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('password').errors && userService.signUpForm.get('password').touched,
                                   'is-valid':!userService.signUpForm.get('password').errors}" placeholder="Password">
                <div class="invalid-feedback" *ngIf="userService.signUpForm.get('password').getError('minlength')">
                  Password must be 8 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    </svg>
                  </span>
                </div>
                <input type="password" formControlName="confirmPassword" id="password-confirm" class="form-control"
                       [ngClass]="{'is-invalid':userService.signUpForm.get('confirmPassword').errors && userService.signUpForm.get('confirmPassword').touched,
                                   'is-valid':!userService.signUpForm.get('confirmPassword').errors}" placeholder="Confirm">
                <div class="invalid-feedback" *ngIf="userService.signUpForm.get('confirmPassword').hasError('passwordMismatch')">
                  Password does not match.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon7">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-minus-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM6 10h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z"/>
                  </svg>
                </span>
              </div>
              <input type="date" id="birthday" formControlName="birthday" name="birthday" class="form-control" type="text"
                     onfocus="(this.type='date')" onblur="(this.type='text')"
                     [ngClass]="{'is-invalid':userService.signUpForm.get('birthday').errors && userService.signUpForm.get('birthday').touched,
                                 'is-valid':!userService.signUpForm.get('birthday').errors}" placeholder="Date of birth">
              <div class="invalid-feedback" *ngIf="userService.signUpForm.get('birthday').hasError('invalidDate')">
                Cannot pick a date past current date.
              </div>
            </div>
          </div>
        </div>
        <div class="row text-right pt-4">
          <div class="col form-group">
              <button type="submit" class="col-5 btn btn-primary" [disabled]="!userService.signUpForm.valid">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
