<div>
  <br>
  <br>
  <h1> General Information</h1>
  <br>
  <p> General information about liver disease, use the drop down to look through information available.</p>
</div>
<br>
<br>
<div class="container container-fluid col-sm-6">
    <form role="form" (submit)="openFile()">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="pdfSource">PDF:</label>
                </div>
                <select name="pdfSource" id="pdfSource" class="form-control custom-select" [(ngModel)]="pdfSource">
                    <option *ngFor="let pdf of pdfs" [value]="pdf.src">{{ pdf.title }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Open PDF</button>
    </form>
</div>
<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <br>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
  <div>
    <div *ngFor="let file Of files" >
      <li *ngIf="file.fileName != ''" class="file-list"><a href="{{'http://localhost:8080/information/'+file.fileName}}" target="_blank"> {{file.fileName}}</a> <span (click)="deleteFile(file.id)">&times;</span></li>
    </div>
  </div>

