<div class="container container-fluid col-sm-6">
    <form role="form" (submit)="openFile()">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="pdfSource">PDF:</label>
                </div>
                <select name="pdfSource" id="pdfSource" class="form-control custom-select" [(ngModel)]="pdfSource">
                    <option *ngFor="let pdf of pdfs" [value]="pdf.src">{{ pdf.title }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Open PDF</button>
    </form>
</div>
<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
