<div class="container container-fluid col-sm-6">
    <h1>Edit Post</h1>
    <form role="form" (submit)="sendEdit()">
        <div class="form-group">
            <label for="title">Name:</label> <input type="text" class="form-control" id="name" name="name"
                [(ngModel)]="editedPost.name" />
        </div>
        <div class="form-group">
            <label for="body">Body:</label> <textarea type="text" class="form-control" id="body" name="body"
                [(ngModel)]="editedPost.body"></textarea>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit Edit</button>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-outline-secondary" (click)="deletePost()">Delete</a>
            </div>
        </div>
    </form>
</div>