<br>
<div>
    <h1>Contact Us</h1>
</div>

<div class="container">
    <hr>
    <div class="row">
        <p>
            To make an enquiry to our multidisciplinary team about information not found on this site or any other links, or to get in touch with the specialist department directly, please email <a href="kch-tr.livertransition@nhs.net">kch-tr.livertransition@nhs.net</a>
        </p>
    </div>
    <hr>
    <div class="row">
        <h2> Additional contacts</h2>
        <p>
            
        </p>
    </div>
    <hr>
    <div class="row">
        <h3> External links</h3>
        <br>   
    </div>
    <div class="row">
        <p> Support for liver transplant patients who have previously had a transplant: <a href="listenatkings.org"> listenatkings.org</a>
            <br>Sexual health - order free testing kit online at <a href="https://sh24.org.uk/">sh24.org.uk/</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            

        
        
        
        
        </p>

    </div>
</div>