<br>
<div>
    <h1>Contact Us</h1>
</div>

<div class="container">
    <hr>
    <br>
    <div class="row">
        <p>
            To make an enquiry to our multidisciplinary team about information not found on this site or any other
            links, to get in touch with the specialist department directly, or to sort out an issue with a youth-mentor
            session, please email <a href="kch-tr.livertransition@nhs.net">kch-tr.livertransition@nhs.net</a>
        <p>
    </div>


    <hr>
    <div class="row">
        <h2> External links</h2>
        <br>
    </div>
    <br>
    <div class="row">
        <p> Support for liver transplant patients who have previously had a transplant: <a href="listenatkings.org">
                listenatkings.org</a>
            <br>
            <br>Children's Liver Disease Foundation, UK charity dedicated to fighting childhood liver diseases. <a
                href="https://childliverdisease.org/">childliverdisease.org/</a>
            <br>
            <br>Sexual health - order free testing kit online at <a href="https://sh24.org.uk/">sh24.org.uk/</a>
            <br>
            <br> NHS website <a href="https://www.nhs.uk/">www.nhs.uk/</a>
            <!--Add New Contact Below Here-->

        </p>

    </div>
</div>