<h3>The id : {{faq.id}}</h3>

<form (ngSubmit)="onSubmit()" #faqForm="ngForm">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" [(ngModel)]="faq.question" 
        class="form-control" 
        id="question" 
        name="question" 
        placeholder="Enter question"
        required #question="ngModel">
    </div>
    <div class="form-group">
      <label for="answer">Answer</label>
      <input type="text" [(ngModel)]="faq.answer" 
        class="form-control" 
        id="answer" 
        name="answer" 
        placeholder="Enter answer"
        required #answer="ngModel">
    </div>
    <button type="submit" [disabled]="!faqForm.form.valid" 
      class="btn btn-info">Submit</button>
</form>