<div class="container">
    <div class="jumbotron">
        <h1>{{ event.title }}</h1>
        <p> Starts at: {{ event.startDate }}</p>
        <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/event/edit/', event.eventId]">Edit</a>
    </div>
    <li *ngFor="let event of event" class="list-group-item clearfix">
        <div class="row">
            <p>{{ event.description }}</p>
        </div>
        <div class="row">
            <div class="col">
                <p style="font-size: smaller"> Ends at : {{ event.endDate }}</p>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/event/edit/', event.eventId]">Edit event</a>
            </div>
        </div>
    </li>
</div>
