<div class="jumbotron">
  <h2>Welcome to Information Hub </h2>
</div>
<div class="container">


  <div class="row">
    <div class="col-md-4">
      <h2>Information and Support</h2>
      <p>Information posts and general information on Liver Disease. Click to read posts relating to healthcare and support... </p>
      <p><a class="btn btn-secondary" href="/information" role="button">View details &raquo;</a></p>
    </div>
  </div>
    <div class="col-md-4">
      <h2>Discussion Forum</h2>
      <p> Forum with threads relating to various topics. Post a question regarding Liver Disease to be answered by our multidisciplinary team. </p>
      <p><a class="btn btn-secondary" href="#" role="button">Go To Forum &raquo;</a></p>
  </div>
    <div class="col-md-4">
      <h2>Calendar and Events</h2>
      <p>View and sign up to upcoming webinars, talks and peer support sessions. </p>
      <p><a class="btn btn-secondary" href="#" role="button">Go To Calendar &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>FAQ</h2>
    <p>View Frequently asked questions. </p>
    <p><a class="btn btn-secondary" routerLinkActive="active" routerLink="/faq" role="button">Go To FAQ &raquo;</a></p>
</div>





