<li class="nav-item dropdown">
  <a class="nav-link">
    <a class="fa fa-bell fa_custom" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <notification-icon count='scopeVariable'></notification-icon>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let notification of notifications" class="dropdown-item" id="notificationList">
          {{notification.title}} : {{notification.description}}
          <a class="btn btn-sm btn-outline-secondary" (click)="deleteNotification(notification.id)">Delete</a>
      </li>
    </div>
  </a>
</li>

<li *ngFor="let notification of notifications" id="notificationList">
  {{notification.title}} : {{notification.description}}
  <a class="btn btn-sm btn-outline-secondary" (click)="deleteNotification(notification.id)">Delete</a>
</li>

<div> <h1> {{notifications.length}} </h1> </div>