<div class="container">
    <div class="row">
        <nav class="navbar">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <a class="btn btn-outline-secondary" routerLinkActive="active" routerLink="/thread-add">Add
                Thread</a>
        </nav>
    </div>
    <ul class="list-group">
        <li *ngFor="let thread of threads" class="list-group-item clearfix">
            <div class="row">
                <a class="btn btn-lg" [routerLink]="['/thread/', thread.threadID]">
                    <h3>{{ thread.title }}</h3>
                    <p class="text-left" style="font-size: 12px;">Posted on: {{ thread.timestampCreated }}</p>
                    <p class="text-right" style="font-size: 12px;">Posted by: {{ thread.accountID }}</p>
                    <p class="text-left" style="font-size: 12px;">Posted by: {{ thread.timestampEdited }}</p>
                </a>
            </div>
        </li>
    </ul>
</div>