<div align="centre"> 
    <br>
    <h1> About Us</h1>
    <br>
    <br>

    <p>The multidisciplinary clinic for young people with liver disease is unique in its format and looks after young people with liver disease aged 12-25 years thereby accommodating the special needs of adolescents and young adults. This includes young people transitioning in care from paediatrics to adult services but also young adults, 16 years and over who present to adult services.
        It is one of the few services both in the UK and worldwide who provides holistic care for young people with liver disease.</p>
        <p>The last 3 years has seen a consistent increase in the number of patients  attending the Transition clinics.  The highest number of patients seen year to date was in 2019/20 (1055) When. compared to 2017/18 (792) there has been a 33% rise in patients attending this clinic.
        Aside from the regular outpatient clinics, the service provides support during inpatient stays and encourages communication and interaction with young people via email and phone calls. A peer mentoring programme is in place and mentors are involved in supporting other young people but also in conferences and as lay panels in research projects. Members of the multidisciplinary team are actively involved in research activities including writing of papers and book chapters as well as guidelines and have been invited speakers at both national and international conferences.</p>
    

</div>
