<div class="container">
    <div *ngIf="isAdmin()">
        <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/faq-edit/']">Add</a>
    </div>
    <ul class="list-group">
        <li *ngFor="let faq of faqs" class="list-group-item clearfix" id="postsList">
            <div class="row">
                <h3>{{faq.question}}</h3>
            </div>
            <div class="row">
                <p>{{faq.answer}}</p>
            </div>
            <div class="row">
                <div class="ml-auto">
                    <div class="text-right" *ngIf="isAdmin()">
                        <a class="btn btn-sm btn-outline-secondary" (click)="deleteFaq(faq.id)">Delete</a>
                        <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/faq-edit/',faq.id]">Edit</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>