@import "~bootstrap-icons/font/bootstrap-icons.css";

header {
  padding: 15px;
  background-color: #303030;
}

nav {
  padding: 10px;
  background-color: #606060;
  font-size: large;
}

.header-title {
  font-size: x-large;
  color: white;
}

.header-title:hover {
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 111px);
  /* 48px footer + 63px header */
}

.fa_custom {
  color: #ffffff
}

.not_viewed {
  background-color: #ffee00
}