<div class="container container-fluid col-sm-6">
    <h1>Edit Thread</h1>
    <form role="form" (submit)="sendEdit()">
        <div class="form-group">
            <label for="title">Title:</label> <input type="text" class="form-control" id="title"
                name="title" [(ngModel)]="editedThread.title" />
        </div>
        <div class="form-group">
            <label for="body">Body:</label> <textarea type="text" class="form-control" id="body"
                name="body" [(ngModel)]="editedThread.body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>